@mixin icon($url,$opacity, $width){
	background-image: url("../img/#{$url}.png");
	opacity: #{$opacity};
	width: #{$width};
}
.icon{
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 40px;
}
.pinterest-logo{
	@include icon("pinterest-logo","1","35px");
}
.user{
	@include icon("user","0.3","35px");
}
.categoria{
	@include icon("categoria","0.4","30px");
}
.message{
	@include icon("message","0.4","30px");
}
.navbar-default{
	background: transparent;
	height: 65px;
}
.navbar-header{	
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}
.navbar-brand{
	border-radius: 5px;
	margin-top: 7px;	
	padding: 0 7px;
	height: 52px;
}
.navbar-default .navbar-brand:hover{
	background-color: #efefef;
}
.navbar-brand p{
	font-size: 12px;
	margin-top: -10px;
}
.navbar-form{
	width: 65%;
	background-color: #efefef;
	border-radius: 3px;
	margin-top: 12px;
}
.form-group{
	padding-top: 8px;
	height: 100%;
	width: 100%;
}
.navbar-form .form-control{
	border: none;
	box-shadow:none;
	background: transparent;
	font-weight: 700;
    font-size: 1.7rem;
    margin-top: -3px;
    outline: 0;
	width: 90%;
}

