*{
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
/*SCROLL*/
.weight-800{
    font-weight: 800;
}
.contscroll{
    margin: auto;
    margin-top: 30px;
    height: 64px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 103;
    background-color: rgba(255, 255, 255, 0.95);
}
.contscroll__fixed{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    max-width: 755px;
    justify-content: space-between;
}
.contleft__btn{
    margin: 0;
}
.contleft{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}
.contscroll__fixed--btn{
    margin-top: 9px;
}
.contscroll__fixed--ico{
    margin-top: 8px;
    height: 48px;
    width: 48px;
    padding-top: 10px;
    display: inline-block;
    cursor: pointer;
}
.contscroll__fixed--ico:hover{
    border-radius: 50%;
    background-color: rgba(0,0,0,.06);
}
.icon-share-alternitive:before{
    color: #b5b5b5;
    font-size: 25px;
    font-weight: 600;
    margin-left: 10px;
}
.btn-default{
    background-color: #efefef;
    border: none;
    font-size: 17px;
}
/*FRONT*/
.right{
    float: right;
}
.front{
    margin: auto;
    margin-top: 100px;
    max-width: 744px;
    position: relative;
    color: #555;
}
.front__title{
    letter-spacing: -1.25px;
}
.front .front__pines{
    margin-bottom: 0;
}
@media (max-width: 600px){
    .front{
        max-width: 300px;
    }
}
.front__userprinc{
    border-radius: 50%;
    height: 60px;
    margin-right: 9px;
    width: 60px;
    float: right;
}