*{
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
.board{
    border-radius: 8px;
    height: 100%;
    padding: 5px;
    width: 248px;
}
.board:hover{
    background-color: #EFEFEF;
}
.board-img{
    border-radius: 8px;
    cursor: zoom-in;
    overflow: hidden;
    width: 236px;
}
.board-user{
    border-radius: 50%;
    height: 24px;
    margin-right: 9px;
    width: 24px;
}
.board-contuser{
    align-items: center;
    display: flex;
    font-size: 12px;
}
.board-contuser:hover{
    background-color: #ddd;
    cursor: pointer;
}
.board-font-bold{
    font-weight: 700;
}
